# Зависимости
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Локальные переменные среды
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Логи
logs
*.log

# Директории среды выполнения
dist/
build/
out/

# Конфиги редакторов
.idea/
.vscode/
*.swp
*.swo

# Операционная система
.DS_Store
Thumbs.db 